
    
footer {
    float: left;
    width: 100%;
    border-top: 1px solid $feedback-border-top-color;
    background-color: $feedback-background-color;
    text-align: center;

    ul {
        margin: 0;
        li {
            display: inline-block;

            a {
                font-size: 14pt;
                color: $mainText;
                text-decoration: none;
                margin: 0 55px;
                line-height: 110px;

                &:hover {
                    color: $feedback-link-actice-color;
                }
            }
        }
    }
}


