.header {
}
.header_first {
  box-sizing: border-box;
  width: 100%;
  background-color: $headerColor;
 

}
.content_header_first {
  margin: 0 161px 0 229px;
}
.logo {
  
  float: left;
  padding-top: 60px;
  
  img {
    width: 121px;
  }
}
.burger {
  display: none;
  color: #fff;
    
    float: right;
    padding-top: 69.5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 30px;

    .burger_links:hover, :focus{
      .first{
        margin-top: 10px;
        // top: 10px;
        -webkit-transform: rotate(45deg);
      }
      .second {
        opacity: 0;
      }
      .third {
        
        // top: -10px;
        margin-top: -15px;
        -webkit-transform: rotate(-45deg);
      }
    }
    .first{
      margin-top: 0;
      display: block;
      background-color: #fff;
      border-radius: 5px;
      height: 5px;
    transition: all .3s linear .23s;
    position: relative;
    }
    .second {
      display: block;
      background-color: #fff;
      border-radius: 5px;
      height: 4.5px;
    margin: 5px 0 0;
    transition: all .3s linear .23s;
    position: relative;
    }
    .third{
      display: block;
      background-color: #fff;
      border-radius: 5px;
      height: 5px;
    margin: 5px 0 0;
    transition: all .3s linear .23s;
    position: relative;
    }
}


.header_second {
  float: left;
  width: 100%;
  
  background-color: $headerColor;
}
.container_text{
  line-height: 40pt;
  padding-top: 8.8%;
  padding-bottom: 58px;
  color: $mainText;
  text-align: center;
  font-family: Titillium Web,sans-serif;
  font-size: 29pt;
  
}
h3{
  margin: 0;
}
.center {
  text-align: center;
  padding-bottom: 159px;
  // position: relative;
  // margin-bottom: 8.2%;
  // left: 44.2%;
  // transform: translate(-50%, -50%);
}

.button{
 
  position: relative;
 
  padding: 15px;
  margin-right: 5px;
  height: 65px;
  width: 310px;
  min-width: 100px;
  background: $button-bg-color;
  border: none;
  outline: none;
  color: $mainText;
  font-family:  Titillium Web,sans-serif;
  font-weight: 400;
  font-size: 15pt;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken($button-bg-color,0%);
  border-bottom: 2px solid darken($button-bg-color,3%);
  
  &:hover{
    background: darken($button-bg-color,5%);
    box-shadow: 0 4px 1px darken($button-bg-color,5%);
    border-bottom: 2px solid darken($button-bg-color,8%);
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
}
