@media only screen and (min-width:320px) {

}

@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
   
}
@media only screen and (min-width:1024px) {
  
}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media all and (max-width: 1360px) and (min-width: 992px){
    .main_sett {
        width: 194px;
    }
}
@media all and (max-width: 1303px){
    .team_block_container {
        margin-left: 28%;
        .team_items {

            margin: 0 38px 0 0;
        }
    }
}
@media all and (max-width: 1004px){
    .skills_block_container {
        margin-left: 23%;
    }
    .rewiews_container {
        margin-left: 23%;
    }
}
@media all and (max-width: 997px){
    .team_block_container {
        margin-left: 21%;
        .team_items {
            margin: 0 38px 0 0;
        }
    }
}
@media all and (max-width: 996px) {
    .blocks_container {
        margin-left: 26%;
        .blokc_flag {
            margin-right: 15%;
        }
        .blokc_repair {
            margin-right: 15%;
        }
    }
}
@media all and (max-width: 992px) {

}

@media all and (max-width: 792px){
    .blocks_container {
        margin-left: 34%;
    }
    .team_block_container {
        margin-left: 33%;
        .team_items {
            margin: 0 38px 0 0;
        }
    }
    .skills_block_container {
        margin-left: 33%;
        padding-bottom: 118px;
    }
    .portfolio__items {
        padding-left: 8%;
    }
    .rewiews_container {
        margin-left: 20%;
    }
}
@media all and (max-width: 992px) and (min-width: 768px){
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .logo img{
        width: 110px;
    }
    .container_text{
        font-size: 30px;
    }
    .button {
        width: 200px;
        height: 50px;
        font-size: 17px;
    }
    .container_first {
        font-size: 30px;
    }
    .container_second {
        font-size: 18px;
    }
    .team_items {
        float: left;
        width: 275px;
        margin: 0 20px 20px 0;
    }
    .team_items img{
        width: 170px;
    }
    .skills_items {
        
        width: 275px;
        height: 100%;
        margin: 0 20px 20px 0;
        
    }
    .portfolio__items li img {
        width: 400px;
    }
    
}
@media all and (max-width: 820px) and (min-width: 768px){
    .feedback__block__container form textarea {
        width: 500px;
    }
}

@media all and (max-width: 768px) {
    .nav {
        display: none;
    }
    .burger {
        display: block;
        padding-left: 2.5px;
        padding-right: 2.5px;
    }  
    .logo img{
        width: 100px;
    }
    .container_text{
        font-size: 25px;
    }
    .button {
        width: 170px;
        height: 40px;
        font-size: 15px;
        padding: 10px;
    }
    .container_first {
        font-size: 25px;
    }
    .container_second {
        font-size: 15px;
    }
    .blocks_container img{
        height: 100px;
    }
    .pos_text {
        font-size: 24px;
        font-weight: 700;
    }
    .poss_text_add {
        font-size: 14px;
    }
    .team_items img{
        width: 170px;
    }
    .skills_items {
        
        width: 275px;
        height: 100%;
        margin: 0 20px 20px 0;
        
    }
    .feedback__block__container form textarea {
        width: 500px;
    }
    
}

@media all and (max-width: 756px) {
    .blocks_container {
        margin-left: 35%;
        .blokc_flag {
            margin-right: 15%;
        }
        .blokc_repair {
            margin-right: 15%;
        }
        .portfolio__items li {
            margin-right: 47px;
        }
        .portfolio__items li img {
            width: 300px;
        }
    }
}
@media all and (max-width: 670px) {
    .skills_block_container {
        margin-left: 29%;
        padding-bottom: 118px;
    }
    .team_block_container {
        padding-bottom: 137px;
        margin-left: 29%;
        text-align: center;
    }
    .team_items img{
        width: 170px;
    }
    .blocks_container {
        margin-left: 29%;

    }
    .feedback__block__container form textarea {
        width: 390px;
    }
    .rewiews_bloks img {

        margin-bottom: 95px;
} 

}



@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}