$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$headerColor: #87509c;
$mainText: #FFF;
$notMainText: #000;
$button-bg-color: #eb7d4b;
$button-second-color:#30bae7;
$mainFirst: #17c2a4;
$mainSecond: #e7f1f8;
$mainThird: #FFF;
$mainFourth: #ffdd99;
$mainFifth: #d74680;
$reviews-position-color: #ffdd99;
$lastMain: #3c5499;
$feedback-form-background-color: #273a71;
$feedback-background-color: #344b8e;
$feedback-link-actice-color: #30bae7;
$feedback-border-top-color: #3c5499;
