$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);
$headerColor: #87509c;
$mainText: #FFF;
$notMainText: #000;
$button-bg-color: #eb7d4b;
$mainFirst: #17c2a4;
$mainSecond: #e7f1f8;
$mainThird: #FFF;
